body {
	min-height: 100vh;
  	min-height: -webkit-fill-available;
}

// .post-content * {
// 	color: currentColor !important;
// }

svg {
	fill: currentColor;
}

.theme--light.v-application{
	background: transparent !important;
}

.theme--dark.v-application{
	background: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.post-content img, .post-content video {
	margin-bottom: 1.5rem;
	border-radius: .75rem;
	overflow: hidden;
}