html {
    font-family: Roboto, IRANSans, sans-serif;

    .v-application {
        font-family: Roboto, IRANSans, sans-serif;
    }
}

.rubik{
    font-family: Rubik;
}

.fa-num {
    font-family: IRANSans, sans-serif;
    font-feature-settings: "ss02" !important;
}

.en-num {
    font-feature-settings: "ss01" !important;
}